<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link
      rel="icon"
      type="image/jpg"
      sizes="32x32"
      href="../IMG_20231023_215755_053.jpg"
    />
  </head>

  <body>
    <div class="mainTitle">
      <h2>ساهم ولو بسؤال :)</h2>
    </div>
    <section class="add">
      <form action="/add" method="post">
        <input
          style="display: none"
          type="text"
          name="type"
          value="<%= type %>"
        />
        <div>
          <label for="name">اسم المساهم #اختياري</label>
          <textarea name="name" id="name" placeholder="ادخل اسمك"></textarea>
        </div>
        <div>
          <label for="quest">السؤال</label>
          <textarea name="quest" id="quest" placeholder="السؤال"></textarea>
        </div>
        <div>
          <label for="ans1"> الجواب الاول</label>
          <textarea name="ans1" id="ans1" placeholder="الجواب الاول"></textarea>
        </div>
        <div>
          <label for="ans2"> الجواب الثاني</label>
          <textarea
            name="ans2"
            id="ans2"
            placeholder="الجواب الثاني"
          ></textarea>
        </div>
        <div>
          <label for="ans3"> الجواب الثالث</label>
          <textarea
            name="ans3"
            id="ans3"
            placeholder="الجواب الثالث"
          ></textarea>
        </div>
        <div>
          <label for="ans4"> الجواب الرابع</label>
          <textarea
            name="ans4"
            id="ans4"
            placeholder="الجواب الرابع"
          ></textarea>
        </div>
        <div>
          <label for="ans5"> الجواب الخامس</label>
          <textarea
            name="ans5"
            id="ans5"
            placeholder="الجواب الخامس"
          ></textarea>
        </div>
        <div>
          <label for="number"> رقم الجواب الصحيح</label>
          <input type="number" name="number" id="number" />
        </div>
        <div class="button">
          <button type="submit">ارسال</button>
        </div>
      </form>
    </section>
  </body>
</html>
