<nav>
  <div class="head">
    <h2>المواد المتوفره</h2>
    <span class="open">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <span class="close">X</span>
  </div>
  <div class="content">
    <form class="one" action="/?method=arabic" method="post">
      <div class="main">
        <button type="submit">عربي</a>
      </div>
    </form>
    <form class="one" action="/?method=math" method="post">
      <div class="main">
        <button type="submit">رياضيات</a>
      </div>
    </form>
    <form class="one" action="/?method=math2" method="post">
      <div class="main">
        <button type="submit">2رياضيات</a>
      </div>
    </form>
  </div>
</nav>