<nav>
  <div class="head">
    <h2>المواد المتوفره</h2>
    <span class="open">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <span class="close">X</span>
  </div>
  <div class="content">
    <div class="one">
      <div class="main">
        <a href="/arabic">عربي</a>
      </div>
    </div>
    <div class="one">
      <div class="main">
        <a href="/math">رياضيات</a>
      </div>
    </div>
  </div>
</nav>
